<% if @user==nil%>
    <p>No user Found</p>
<% elsif @user.admin?%>
  <% if !current_user.admin? %>
    <p>No user Found</p>
  <% else%>
    <%=render 'admin'%>
  <% end %>
<% else%>
 <%=render 'user',user: @user%>
8<% end %>